doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title URL2QR

    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous")
    link(rel="stylesheet" href="public/stylesheets/style.css" type="text/css")
    script(defer, src="public/javascripts/bundle.js")

  body(class="back").container
    i(class="fas fa-qrcode fa-3x").my-5  QRコードに変換するURLを入力してください。
    
    div.form-group
      textarea(id="input_url", name="input_url", rows="2" placeholder="ここにURLを入力してください").form-control
    div.form-group
      button(id="submit-button", type="submit").btn.btn-primary 変換する

    div.form-group
      h1(id="result-msg", class="result", style="display: none").mt-5 ↓生成したQRコード
      img(id="result-img", src=data, alt="qrcode", style="display: none")
      i(id="result-noturl", class="fas fa-exclamation-triangle fa-3x", style="display: none").mt-5 URLではありません。
      i(id="result-error", class="fas fa-exclamation-triangle fa-3x", style="display: none").mt-5 変換時にエラーが発生しました。

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
    crossorigin="anonymous")
